body {
    background-image: linear-gradient(to right, rgb(180, 180, 180), rgb(228, 94, 94), rgb(59, 55, 55));
    background: cover;
    margin-top: 5%;
}

.main {
    text-align: center;
    font-size: large;
    font-weight: bolder;
    color: white;
    text-shadow: 1.5px 1.5px #000000;
}

small {
    font-size: larger;
    color: rgb(204, 204, 204);
    text-shadow: 1px 1px #000000
}

.container {
    margin-top: 5%;
    margin-right: auto;
}

.save {
    color: white;
}

.time {
    font-size: large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.past {
    background-color: rgb(223, 93, 93);
}

.future {
    background-color: rgb(121, 121, 240);
}

.present {
    background-color: white;
}