body {
    background-image: linear-gradient(to right, rgb(180, 180, 180), rgb(228, 94, 94), rgb(59, 55, 55));
    margin-top: 10%;
}

.save {
    color: white;
}

.time {
    font-size: medium;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
